#breadcrumb {
    height: 48px;
    background-color: #e9ecef;
    ol {
        padding: 12px 30px;
        li {
            text-decoration: none;
            color: $main-black;
            text-transform: capitalize;
            &:first-child {
                color: $main-color !important;
            }
        }
    }
}