#nav {
    a {
        color: $text-white;
    }
    li {
        a {
            color: $text-white;
        }
    }
    .login {
        color: #fff;
        span {
            margin-left: 5px;
        }
    }
}