<div id="project">
    <div class="container">
        <div class="title">
            Quản lý project
        </div>
        <div class="conetent">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Stt</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date of Start</th>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of project; index as i">
                        <th scope=" row ">{{i + 1}}</th>
                        <td>{{p.name}}</td>
                        <td>{{p.createdDate}}</td>
                        <td>
                            <div *ngFor="let user of p.owner">
                                <p>{{user.lastName}}</p>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary mr-2 ">Sửa</button>
                            <button class="btn btn-danger" (click)="deleteProject(p._id)">Xoá</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-modal (datapush)="datapush($event)"></app-modal>
        </div>
    </div>