<div id="project">
    <div class="container">
        <div class="title">
            Quản lý project
        </div>
        <div class="conetent">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date of Start</th>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>
                            <button class="btn btn-primary mr-2">Sửa</button>
                            <button class="btn btn-danger">Xoá</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-modal></app-modal>
        </div>
    </div>