<div id="leader">
    <div class="row">
        <div class="col-lg-3">
            <div class="left">
                <div class="role text-center">
                    Trưởng nhóm
                </div>
                <div class="avatar">
                    <img src="assets/img/anh.jpg" alt="">
                    <p>FPT Polytechnic</p>
                </div>
                <div class="listteam">
                    <p class="text-center">Tóm tắt thành viên</p>
                    <ul class="summary">
                        <li>Số lương thành viên
                            <span>3</span>
                        </li>
                        <li>Tổng chi phí của tất cả các dự án
                            <span>3</span>
                        </li>
                        <li>Các task đang sử lí
                            <span>3</span>
                        </li>
                        <li>Các dự án sắp triển khai
                            <span>3</span>
                        </li>
                    </ul>
                </div>
                <div class="listteam">
                    <p class="text-center">Khách hàng</p>
                    <ul class="summary">
                        <li>Số lương thành viên
                            <span>3</span>
                        </li>
                        <li>Tổng chi phí của tất cả các dự án
                            <span>3</span>
                        </li>
                        <li>Các task đang sử lí
                            <span>3</span>
                        </li>
                        <li>Các dự án sắp triển khai
                            <span>3</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="center">
                <div class="dropbox d-flex justify-content-between">
                    <div class="dropleft">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Dự án
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropright">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Năm
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="tableContent">
                        <div class="title">Tổng thể về dự án</div>
                        <table class="table table-bordered table-hover table-success">
                            <tbody>
                                <tr>
                                    <td>Chi phí dự án</td>
                                    <td>4324324324đ</td>
                                </tr>
                                <tr>
                                    <td>Chi phí dự án</td>
                                    <td>4324324324đ</td>
                                </tr>
                                <tr>
                                    <td>Chi phí dự án</td>
                                    <td>4324324324đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tableContent">
                        <div class="title">Tổng thể về dự án</div>
                        <table class="table table-bordered table-success table-hover ">
                            <thead>
                                <tr>
                                    <th>Khu vực</th>
                                    <th>Số lượng nhân viên</th>
                                    <th>Nhân viên đang tạm nghỉ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chi phí dự án</td>
                                    <td>4324324324đ</td>
                                    <td>4324324324đ</td>
                                </tr>
                                <tr>
                                    <td>Chi phí dự án</td>
                                    <td>4324324324đ</td>
                                    <td>4324324324đ</td>
                                </tr>
                                <tr>
                                    <td>Chi phí dự án</td>
                                    <td>4324324324đ</td>
                                    <td>4324324324đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="right">
                <div class="title">
                    Thành viên của team
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Hồ Chí Minh
                          </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="list">
                                    <div class="name">
                                        Vo Quoc Thinh
                                    </div>
                                    <div class="status">
                                        Available
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Hà Nội
                          </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>